body {

    color: #f7f7f7;
  }

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
} 
.result-output{
  text-align:center;
}
input[type=text] {
  background-color: #616169;
  color: white;
}